body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: arial;
}

caption{
    background: #18FFFF;
    font-weight: bold;
    font-size: 1.4em;
    color: #03A9F4;    
}
caption:first-child{
    border-radius: 12px;
}
section .cuerpo{
    position: relative;
    margin-top: -26px;
    padding: 40px 28px;
    background: #B2EBF2;

}
section .cuerpo .sub_menu{
    position: relative;
    border-radius: 12px;
    padding: 16px;
    width: 12%;
    background: #fff;
    font-size: 12px;    
}
h2{
    font-size: 16px;
}
section .cuerpo .sub_menu h2 a{
    text-decoration: none;
    line-height: 1.7em;
    color:#03A9F4;
    padding: 7px 10px;
    border-radius: 7px;
    border: 1px solid #03A9F4;
}

section .cuerpo .sub_menu h2 a:hover{
    background: #84FFFF;
    border-radius: 10px;
}

section .cuerpo .sub_menu details summary{
    line-height: 1em;
    font-size: 16px;
    margin: 4px 0;
    color:#03A9F4;  
    padding: 7px 10px; 
    border-radius: 8px;
    border: 1px solid #03A9F4;
    outline: none;
}
section .cuerpo .sub_menu details summary:hover{
    background: #84FFFF;
    border-radius: 8px;
    cursor: pointer;
}
section .cuerpo .sub_menu details a{
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #03A9F4;
    line-height: 2.2em;
    padding: 6px 12px;
    border: 1px solid #03A9F4;
}
section .cuerpo .sub_menu details a:hover{
    background: #B2FF59;
    cursor: pointer;
}
.nav_principal{
    position:relative;
    display:inline-block;
    margin-left: 10px;
}
/*div ul li{
    position:relative;
    list-style-type:none;
    display:inline-block;
}*/


nav #cssmenu{
    position: relative;
    left:10%;
}
img{
    border-radius:50%;
    border:1px solid #000;
    margin: 4px 10.5px;
}

nav #white{
    left: 15%;
    bottom: 20px;
}
nav .name{
    left: 4%;
    bottom: 20px;
}

nav #white #search input[type="text"] {
    outline:none;
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #cdcdcd;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #000;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

nav #white #search input[type="text"]:focus {
    width: 200px;
    border: 1px solid #03A9F4;
}
section .cuerpo .tabla, .sub_menu{
    position: relative;
    display: inline-block;
}
section .cuerpo .tabla {
    position: absolute;
    left: 18%;
    bottom: 50px;
    width:1100px; 
    height:300px; 
    overflow:auto;

}
section .cuerpo .articulo{
    width: 900px
}
section .cuerpo .tabla .zebra thead tr th{
    position: relative;
    text-align: center;
}

.editar{
    text-decoration: none;
    color: #00F0FF;
}
.editar img{
    border-radius: 20%;
    border: 1px solid #76FF03;
}
.eliminar{
    text-decoration: none;
    color: #FF3000;
    margin: 0 0 0 4px;
}
.eliminar img{
    border-radius: 20%;
    border: 1px solid #F44336;
}

section .cuerpo .tabla .agregar{
    margin-top: 10px;
    text-decoration: none;
    color: #03A9F4;
    font-size: 18px;
    float:right;
    padding: 10px 10px;
    background: #FFF;
    border-radius: 12px;
    border: 1px solid #03A9F4;
}
section .cuerpo .tabla .agregar:hover{
    background: #00E5FF;
    color: #fff;
}
